# Tarea 1

# Introducción a Python

## Ejercicio 1

Escribe un programa que almacene en una lista los números del 1 al 10 y los muestre, en orden inverso, separados por comas.

Solución:

In [1]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista.sort(reverse=True) #sort ordena los elementos de forma ascendente y "reverse=True" los ordena de forma descendente
print(lista)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Ejercicio 2

Haz un programa que pida el nombre de una persona y lo muestre 100 veces, pero dejando un espacio de separación entre cada copia del nombre.

Solución:

In [2]:
nombre = input("Escribe un nombre: ") #Le pedimos al usuario un nombre
print((nombre + " ")* 100)

Escribe un nombre: Miriam
Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam Miriam

## Ejercicio 3

Escribe un programa que guarde en una variable el diccionario llamado *divisa* y tenga los elementos ordenados, "Euro": 18.25, "Dolar": 16.80, "Yuan": 2.31, "Yen": 0.12, "Dolar canadiense":12.42, "Franco Suizo": 19.13, "Libra Esterlina": 21.37 y le pregunte al usuario por una divida. Luego muestre el valor de cambio de la divisa seleccionada o un mensaje de aviso si la divisa no está en el diccionario. Completa con todas las divisas que puedas.

Solución:

In [3]:
divisa = { #El dccionario tiene la forma = "clave" : valor
    "Euro" : 18.25,
    "Dolar" : 16.80,
    "Yuan" : 2.31,
    "Yen" : 0.12,
    "Dolar Canadiense" : 12.42,
    "Franco Suizo" : 19.13,
    "Libra Esterlina" : 21.37
}

dato = input("Da el nombre de una divisa: ") #Le pide el nombre de una divisa al usuario

dato = str(dato) #Lo pasamos a este tipo de dato
resultado = divisa.get(dato) #Añadimos get para buscar la clave

#Aplicamos los condicionales if y else

if resultado: #Si existe la divisa buscada entonces...
  print(f"El valor de cambio de esta divisa es {resultado}") #Como queremos que nos devuelva un número le añadimos "f"
else: #Si la divisa buscada no está en el diccionario entonces...
  print("Esta divisa no existe en este archivo")

Da el nombre de una divisa: Yen
El valor de cambio de esta divisa es 0.12

## Ejercicio 4

Un satélite se encuentra en una órbita circular alrededor de la Tierra, tal que completa un círculo en $T$ segundos; $T$ es el periodo de la órbita:

i) Muestra que la altitud $h$ sobre la superficie de la Tierra será:
$$
h=\left( \frac{GMT^2}{4\pi^2} \right)^{\tfrac{1}{3}} -R
$$
donde $G$ es la constante de gravitación universal con valor $G=6.67\times10^{-11}$ m$^{3}$kg$^{-1}$s$^{-2}$, $M$ es la masa de la Tierra con valor $M=5.97\times10^{24}$kg y $R$ es el radio de la Tierra con valor $R=6371$ kg.

(ii) Escribe un programa que le pregunte al usuario el periodo que desea que tenga su satélite girando alrededor de la Tierra y que le regrese la altitud, en metros, que deberá tener.

(iii) ¿Qué altitud deberá tener el satélite si queremos que orbite la Tierra con un periodo de un día (órbita geosíncrona), 90 minutos, 45 minutos? ¿Qué observas?

(iv) En práctica, una órbita geosíncrona es aquella cuya órbita tiene un periodo de un día sideral, que es de 23.93 horas, no de 24 horas. ¿Por qué es esto? ¿Cuál será la diferencia en altitud entre $T$= 23.93 horas y $T$= 24 horas?

***Solución (i) :***

Un satelite de masa ***m*** que se encuentra en una orbita circular alrededor de la Tierra, con un periodo de orbita ***T***, tiene una velocidad angular ***w***, que se expresa como:

$w =$ $ \frac{2π}{T}$ *$[\frac{rad}{s}]$*

Como el satelite está girando alrededor de la Tierra, este tiene una fuerza centripeta dirigida hacia el centro de la Tierra. Esta fuerza está definida por la segunda ley de Newton, como el producto de la masa de dicho satelite y de su aceleración centripeta. Esta aceleración se define como:

$a_c$ = $\frac{v^2}{R+h}$

Donde ***v*** es su velocidad lineal y ***R+h*** es el radio de curvatura, tal que, ***R*** es el radio de la Tierra y ***h*** es la altitud sobre la suuperficie de la Tierra a la que se encuentra el satelite. La velocidad lineal (***v***) también se puede expresar en términos de la velocidad angular (***w***) del satelite de la siguiente forma:

$v=w(R+h)$

Dicho esto, expresamos a la fuerza centripeta ($F_c$) como:

$F_c =$ = $m a_c$ = $m \frac{v^2}{R+h}$ = $m \frac{w^2 (R+h)^2}{R+h}$ = $m w^2 (R+h)$

Es decir; $F_c$ = $m$ $w^2$ $(R+h)$, es nuestra fuerza centripeta.

Por otro lado, dado que existe una atracción entre la masa del satelite y la masa de la Tierra, decimos entonces que nuestra fuerza centripeta es igual a la fuerza gravitatoria entre ambos cuerpos. La fuerza gravitatoria entre dichos cuerpos es directamente proporcional al producto de sus masas e inversamente proporcional al cuadrado de la distancia que los separa y la expresamos como:

$F_g$ = G $\frac{Mm}{(R+h)^2}$

Donde ***M*** es la masa de la Tierra, ***R+h*** es la distancia que separa a ambos cuerpos y ***G*** es la constante de gravitación universal.

Dado que $F_c$ es igual a $F_g$, igualamos ambas ecuaciones:

$F_c$ = $F_g$

$⇒$  $m$ $w^2$ $(R+h)$ = $G$ $\frac{Mm}{(R+h)^2}$

$⇒$  $w^2$ $(R+h)^3$ = $G$ $M$

$⇒$ $(R+h)^3$ = $\frac{GM}{w^2}$ = $\frac{GM T^2}{4 Π^2}$, sustituyendo a la velocidad angular.

$⇒$ $R+h$ = $\left(\frac{GMT^2}{4 Π^2}\right)^\frac{1}{3}$

Por lo que la altitud ***h*** sobre la superficie de la Tierra del satelite la podemos definir por la expresión:

$h$ = $\left(\frac{GM T^2}{4 Π^2}\right)^\frac{1}{3}$ - $R$

***qed.***

***Solución de (ii) :***

In [4]:
from math import pi

G = 6.67e-11 #Valor de la constante de gravitación universal [m^3/(kg s^2)]
M = 5.97e24 #Valor de la masa de la Tierra (kg)
R = 6371 #Valor del radio de la Tierra en metros (m)
T = float(input("Ingresa el valor del periodo (T) en segundos (s): ")) #Aquí definimos al periodo orbital como un número y le pedimos al usuario que lo asigne

h = ((G* M* T**2) / (4* pi**2))**(1/3) - R #Definimos a la función de altitud

print(f"El valor de la altitud del satelite sobre la superficie de la Tierra es, h= {h} m") #Añadimos f, pues queremos que nos devuelva un número

Ingresa el valor del periodo (T) en segundos (s): 2000
El valor de la altitud del satelite sobre la superficie de la Tierra es, h= 3423413.2884738063 m

***Solución de (iii)***

  CASO 1:

Si queremos que T = 1 dia, debemos convetirlo primero a segundos:

In [5]:
T_1 = 24*60*60
print(T_1)

86400

Ahora decimos que T= 86400 s, lo ponemos en nuestro programa anterior y obtenemos el valor de la altitud (***h***).
El valor obtenido fue:

***h*** = 42220539.176174976 *m*

CASO 2:

Si queremos que T = 90 minutos, debemos convertirlo primero a segundos:

In [6]:
T_2 = 90*60
print(T_2)

5400

Ahora decimos que T=5400 *s*, lo metemos a nuestro código anterior y obtenemos ***h***.

El valor obtenido fue: ***h***= 6643950.625372861 *m*

CASO 3:

Si queremos que T= 45 minutos, lo convertimos primero a segundos:

In [7]:
T_3 = 45*60
print(T_3)

2700

Ahora decimos que T=2700 *s*. lo metemos nuevamente al código anterior y obtenemos ***h****

El valor obtenido fue; ***h***= 4183069.1021891767 *m*

Notemos que conforme el periodo de la orbita es menor, el valor de la altitud también lo es, es decir, son directamente proporcionales.

***Solución de (iv) : ***

Veamos que sucede cuando T=23.93 horas, primero convertimos esto a segundos.

In [8]:
T_4 = 23.93*60*60
print(T_4)

86148.0

Ahora decimos que T=86148.0 *s*, lo metemos al código anterior y obtenemos ***h*** = 42138391.329895645 *m*

In [9]:
h_24 = 42220539.176174976 #Altitud con T=24 h
h_23 = 42138391.329895645 #Altitud con T=23.93

h_f= h_24 - h_23 #Diderencia de altitudes
print(f"La diferencia de altitudes entre T=23.93h y T=24h es {h_f} m")

La diferencia de altitudes entre T=23.93h y T=24h es 82147.84627933055 m